<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mad_team1_assignment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_mc_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NewAccount"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".LoginPage"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".EndGamePage"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ChapterOneGame"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".OptionPage"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StoryPage"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ChapterMenu"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ParentalPage"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AchievementsPage"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
